h1 {
    color:yellow;
    font-size: 40px;
}

.box {
    width: 150px;
    height: 150px;
    background-color:grey;
    border: 1px solid greenyellow;
    float: left;
}

#yourCharacterText {
    color: white;
    font-size: 22px;
    clear: both;
}

.text {
    color: white;
    font-size: 22px;
}


.bottom {
    clear: both;
}

h2, p {
    text-align: center;
}